[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sumy = "*"
streamlit = "*"
certifi = "*"
pyautogui = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
beautifulsoup4 = "*"
requests = "*"
streamlit-option-menu = "*"

[dev-packages]

[requires]
python_version = "3.10"
